.headerLogo {
	height: 80px;
	width: 193px;
	margin-top: 8px;
	margin-bottom: -20px;
	margin-left: -29px;
}

.headerLogoRight {
	height: 48px;
    width: 450px;
    margin-top: 9px;
    margin-bottom: -20px;
    margin-left: -70px;
}
.wrapperLogo {
	width: 1059px;
}

.asidePage {
	width: 1059px;
}


.blogImage {
	height: 500px; 
	width:945px;
}


.blogImageFacts {
	height: 800px; 
	width:945px;
}

.videoWidth {
	width:350px;
}
}