.headerLogo {
	height: 60px;
	width: 100px;
	margin-top: 8px;
	margin-bottom: -20px;
	margin-left: -29px;
}

.headerLogoRight {
	height: 60px;
	width: 250px;
	margin-top: 8px;
	margin-bottom: -20px;
	margin-left: -77px;
}
.wrapperLogo {
	width: 1059px;
}
.asidePage {
	width: 1059px;
}

.blogImage {
	height: 945px; 
	width:945px;
}

.videoWidth {
	width:350px;
}

}